<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/react/dist/arxena-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arxena's Org Charts (Global) - Arxena</title>
    <!-- <link rel="icon" type="image/png" href="/static/react/dist/assets/quote1-uYMsCJ9Q.png" /> -->
    <script type="module" crossorigin src="/static/react/dist/assets/index-9IBoJcUk.js"></script>
    <link rel="stylesheet" crossorigin href="/static/react/dist/assets/index-8rJoi5de.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
